@charset "UTF-8";
* {
	padding: 0; margin: 0;
}
html, body {
	width: 100%;
	height: 100%;
}
body {
	background:  url(images/walk-on-wire-x.jpg) center top repeat-y scroll;
	/* background: url(images/background-body.gif) center top repeat-y scroll; */
	background-size: cover;
}
header {
	background:  url(images/background-header.gif) center top no-repeat fixed;
	background-size: cover;
	
}
nav {
	background: url(images/nav-top.png) center top no-repeat fixed;
	position: relative;
	top: 0;
	padding: 1.25em 0 0 0;
	min-height: 160px;
	width: 100%;
	/*height: 215px;*/
	z-index: 1;
}
nav ul {padding: 1em .5em .5em 1em;}
nav li {display: inline;}
nav li a {
	font-weight: 700;
	font-size: 1.25em;
	color: rgba(250,124,0,1.00); /*orange */
	color: #000;
	text-decoration: none;
	margin: 0 -12px 0 -12px;
}
nav li a:hover {
	color: deeppink;
}
.handwriting {
	font-family: 'Damion', Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	/*font-family: 'Niconne', Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"; */
	color: #e0e0e0;
}
.top {
	text-align: center;
	padding: 1em;
	font-size: 4em;
	color: green;
	opacity: .8;
 	text-shadow: 3px 2px 6px deeppink;
	font-family: 'Arvo', serif;
	font-weight: 700;
	/*background: rgba(129,153,204, .4) url(images/beneath-the-wire-for-top.png) center top no-repeat scroll; */
	margin-top: 215px;
	z-index: 2;
}
 .top p {
  -webkit-transform: rotate(-1deg);
-moz-transform: rotate(-1deg);
-o-transform: rotate(-1deg);
-ms-transform: rotate(-1deg);
transform: rotate(-1deg);
display: inline-block;
	 background-color: rgba(213,211,211,.2);
}

.bio-rss {
	width: 100%;
	width: 100vw;
}

/*
.project1 {
	width: 55%;
	background-color: red; /*#e0e0e0;*/  /*
	position: absolute;
	height: 400px;
}
.feat-img {
	text-align: left;
	float: left;
	width: 240px;
}
.caption {
	clear: left;
}

*/

.short-bio {
	padding: 0 2.5%;
	color:#373636;
	font-size: 1em;
	font-family: 'Arvo', sans-serif;
	float: left;
	width: 20%;
	background-color: rgba(150,146,146,.85);
}
.on-campus {
	float: left;
	padding: 0 2%;
	width: 20%;
	background-color: rgba(50,85,7,.75);
	font-size: 1em;
	font-family: 'Arvo', sans-serif;
	color: #e0e0e0;
	
}
.left {
	float: left;
}
.project1 p, a{
	padding: 1em;
	color:#373636;
	font-size: 1em;
	font-family: 'Arvo', sans-serif;
}
.left a{
	font-size: .75em;
	display: block;
	line-height: .75em;
}
.rss {
	text-align: center;
	width: 51%; 
	position: absolute;
	margin: 0 0 0 49%;
	background-color: #e0e0e0;
	height: 400px;
	padding: 0 1em 0 0;
	z-index: -1;
}


/*
#portfolio {
	/*position: relative;
	top: 340px;
	right: 0;
	width: 100%;
	width: 100vw;
	font-family: 'Oswald', sans-serif;
	text-align: left;
	/*padding: 5%; 
	font-size: 1em;
	background-color: orange;
	color: black ;
	overflow: auto;
	z-index: 4;
/*	background: orange url(myspace.jpg) no-repeat scroll center; 
}
*/

.projects {
	font-size: 2em;
	font-family: 'Arvo', serif;
	font-weight: 700;
	margin: 12px 0 0 12px;
}
.wrap {
   overflow: hidden;
	width: 100%;
	width: 100vw;
	font-family: 'Oswald', sans-serif;
	text-align: left;
	font-size: 1em;
	background-color: rgba(250,124,0,.95); /*orange */
	color: black;
	z-index: 4;
}
.box {
   float: left;
   position: relative;
   width: 20%;
   padding-bottom: 20%;
}
.boxInner {
   position: absolute;
   left: 10px;
   right: 10px;
   top: 10px;
   bottom: 10px;
   overflow: hidden;
}
.boxInner img {
   width: 100%;
}
.boxInner .titleBox {
   position: relative;
   bottom: 0;
   left: 0;
   right: 0;
   margin-bottom: -50px;
   background: rgba(0, 0, 0, 0.5);
   color: #e0e0e0;
   padding: 10px;
   text-align: center;
   -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;
}
.titleBox a {
	color: #e0e0e0;
	font-family: 'Oswald', sans-serif;
	font-size: 1em;
	text-decoration: none;
}
.boxInner a {
	padding: 0;
}
body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
   margin-bottom: 0;
}

.bio h1 {
	font-size: 2em;
	font-family: 'Arvo', serif;
	font-weight: 400;
}
.bio-left {
	width: 45%;
	padding: 1em;
	float: left;
}
.bio-right {
	width: 45%;
	padding: 1em 1em 1em 0;
	float: left;
}
.bio a {
	font-family: 'Oswald', sans-serif;
	font-size: 1em;
	color: #1B5975;
	padding: 0;
}
.bio a:hover {
	color: #482E00;
}
.video-title {
	background-color: rgba(254,0,200,.7);
	padding: .75em;
	font-size: .85em;
	font-family: 'Arvo', serif;
	font-weight: 400;
	color: #e0e0e0;
	text-align: center;
	/*margin-top: 340px; */
}
h2 {
	background-color: rgba(36,70,113,1.00);
	padding: .75em;
	font-size: .85em;
	font-family: 'Arvo', serif;
	font-weight: 400;
	color: deeppink;
	text-align: center;
	margin: 0 0 0 0;
}
.video {
	padding: 1em 0;
	text-align: center;
	position: relative;
  	bottom: 0; right: 0; left: 0;
  	z-index: 4;
	height: 325px;
	background-color: #000;
}

/* .video-background {
  background: #000;
  position: fixed;
  bottom: 0; right: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 315px;
  pointer-events: none;
}
*/
#vidtop-content {
	top: 0;
	color: #fff;
}
.vid-info { 
	position: relative; 
	top: 0; right: 0; width: 100%; 
	background: rgba(0,0,0,0.5); 
	color: #fff; 
	padding-top: 240px; 

}

.vid-info h1 { 
	font-size: 1em; 
	font-family: 'Oswald', sans-serif;
	text-align: center;
	line-height: 1.2; 
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}
@media only screen and (max-width : 480px) {
   /* Smartphone view: 1 tile */
   .box {
      width: 100%;
      padding-bottom: 100%;
   }
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
   /* Tablet view: 2 tiles */
   .box {
      width: 50%;
      padding-bottom: 50%;
   }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
   /* Small desktop / ipad view: 3 tiles */
   .box {
      width: 33.3%;
      padding-bottom: 33.3%;
   }
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
   /* Medium desktop: 4 tiles */
   .box {
      width: 25%;
      padding-bottom: 25%;
   }
}